<div class="row bs-wizard" style="border-bottom:0; margin-left: 1px; margin-right: 60px;">
    <div class="col-xs-2"></div>
    <div class="col-xs-4 bs-wizard-step {% if step >= 1 %}complete{% endif %}">
      <div class="text-center bs-wizard-stepnum">Adım 1</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Vikor Hesaplama</div>
    </div>
    
    <div class="col-xs-4 bs-wizard-step {% if step >= 2 %}complete{% else %}disabled{% endif %}">
      <div class="text-center bs-wizard-stepnum">Adım 2</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Sonuç</div>
    </div>
    <div class="col-xs-2"></div>
</div>