{% extends "base_site.html" %}

{% block title %} - Vikor Adım 1{% endblock title %}

{% block content %}
  <div class="container">
    {% include "partial/vikor_progress_bar.html" with step=1 %}
  </div>
  <div class="container" style="margin-top: 20px; margin-bottom: 50px">
    <legend>Normalizasyon Matrisi</legend>

    <table class="table big--table">
      <thead>
        <tr>
          <th></th>
          {% for criterio in report.get_child_criterions %}
            <th style="background-color: #efefef;">{{ criterio.name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Wi</td>
          {% for child in report.get_child_criterions %}
            <td>0</td>
          {% endfor %}
        </tr>
        {% for supplier in suppliers %}
          <tr class="data--row">
            <td style="font-weight: bold">{{ supplier.name }}</td>
            {% for child in report.get_child_criterions %}
              <td>
                0
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <legend>Ağırlandırılmış Normalizasyon Matrisi</legend>

    <table class="table big--table">
      <thead>
        <tr>
          <th></th>
          {% for criterio in report.get_child_criterions %}
            <th style="background-color: #efefef;">{{ criterio.name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Wi</td>
          {% for child in report.get_child_criterions %}
            <td>0</td>
          {% endfor %}
        </tr>
        {% for supplier in suppliers %}
          <tr class="data--row">
            <td style="font-weight: bold">{{ supplier.name }}</td>
            {% for child in report.get_child_criterions %}
              <td>
                0
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <legend>Hesaplanan Si, Ri ve Qi Değerleri</legend>
    <table class="table">
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>(q=0.00)</td>
          <td>(q=0.25)</td>
          <td>(q=0.5)</td>
          <td>(q=0.75)</td>
          <td>(q=1)</td>
        </tr>
        <tr>
          <td></td>
          <td>Si</td>
          <td>Ri</td>
          <td>Qi</td>
          <td>Qi</td>
          <td>Qi</td>
          <td>Qi</td>
          <td>Qi</td>
        </tr>
        {% for supplier in report.suppliers %}
        <tr>
          <td>{{ supplier.name }}</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        {% endfor %}

        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>S*</td>
          <td>0</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>S-</td>
          <td>0</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>R*</td>
          <td>0</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>R-</td>
          <td>0</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>

    <legend>Sıralama sonuçları ve koşulların denetlenmesi</legend>
    <table class="table">
      {% for supplier in report.suppliers %}
      <tr>
        <td>{{ supplier.name }}</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      {% endfor %}

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Q(A2)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Q(A1)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Q(A2) - Q(A1)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>DQ</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Koşul 1</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Koşul 2</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
{% endblock content %}