{% extends "base_site.html" %}

{% load calculation %}

{% block title %} - Vikor Adım 1{% endblock title %}

{% block content %}
  <div class="container">
    {% include "partial/vikor_progress_bar.html" with step=1 %}
  </div>
  <div class="container" style="margin-top: 20px; margin-bottom: 50px">
    <legend>En iyi ve en kötü kriter değerlerinin belirlenmesi</legend>

    <table class="table big--table">
      <thead>
        <tr>
          <th style="background-color: #efefef;"></th>
          {% for criterio in report.get_child_criterions %}
            <th style="background-color: #efefef;">
              {{ criterio.name }}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Wi</td>
          {% for child in report.get_child_criterions %}
            <td>{{ child|global_weight:report }}</td>
          {% endfor %}
        </tr>
        {% for supplier in report.suppliers %}
          <tr class="data--row">
            <td style="font-weight: bold">{{ supplier.name }}</td>
            {% for child in report.get_child_criterions %}
              <td>
                {% get_supplier_criterion_score report supplier child %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
        <tr style="background-color: #efefef;">
          <td>fi*</td>
          {% for child in report.get_child_criterions %}
            <td>
              {% best_criterion_score report child %}
            </td>
          {% endfor %}
        </tr>
        <tr style="background-color: #efefef;">
          <td>fi-</td>
          {% for child in report.get_child_criterions %}
            <td>
              {% worst_criterion_score report child %}
            </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>

    <legend>Normalizasyon Matrisi</legend>

    <table class="table big--table">
      <thead>
        <tr>
          <th style="background-color: #efefef;"></th>
          {% for criterio in report.get_child_criterions %}
            <th style="background-color: #efefef;">{{ criterio.name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Wi</td>
          {% for child in report.get_child_criterions %}
            <td>{{ child|global_weight:report }}</td>
          {% endfor %}
        </tr>
        {% for supplier in report.suppliers %}
          <tr class="data--row">
            <td style="font-weight: bold">{{ supplier.name }}</td>
            {% for child in report.get_child_criterions %}
              <td>
                {% get_supplier_normalized_criterion_score report supplier child %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <legend>Ağırlandırılmış Normalizasyon Matrisi</legend>

    <table class="table big--table">
      <thead>
        <tr>
          <th style="background-color: #efefef;"></th>
          {% for criterio in report.get_child_criterions %}
            <th style="background-color: #efefef;">{{ criterio.name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Wi</td>
          {% for child in report.get_child_criterions %}
            <td>{{ child|global_weight:report }}</td>
          {% endfor %}
        </tr>
        {% for supplier in report.suppliers %}
          <tr class="data--row">
            <td style="font-weight: bold">{{ supplier.name }}</td>
            {% for child in report.get_child_criterions %}
              <td>
                {% get_supplier_weighted_criterion_score report supplier child %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% get_min_si_value report as min_si_value %}
    {% get_max_si_value report as max_si_value %}
    {% get_min_ri_value report as min_ri_value %}
    {% get_max_ri_value report as max_ri_value %}

    <legend>Hesaplanan Si, Ri ve Qi Değerleri</legend>
    <table class="table calculated--table">
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>(q=0.00)</td>
          <td>(q=0.25)</td>
          <td>(q=0.5)</td>
          <td>(q=0.75)</td>
          <td>(q=1)</td>
        </tr>
        <tr>
          <td></td>
          <td>Si</td>
          <td>Ri</td>
          <td>Qi</td>
          <td>Qi</td>
          <td>Qi</td>
          <td>Qi</td>
          <td>Qi</td>
        </tr>
        {% for supplier in report.suppliers %}
        <tr class="calculated--rows">
          <td>{{ supplier.name }}</td>
          <td>
            {% get_si_value report supplier %}
          </td>
          <td>
            {% get_ri_value report supplier %}
          </td>
          <td class="q_0">
            {% get_qi_value report supplier 0 min_si_value max_si_value min_ri_value max_ri_value %}
          </td>
          <td class="q_1">
            {% get_qi_value report supplier 0.25 min_si_value max_si_value min_ri_value max_ri_value %}
          </td>
          <td class="q_2">
            {% get_qi_value report supplier 0.50 min_si_value max_si_value min_ri_value max_ri_value %}
          </td>
          <td class="q_3">
            {% get_qi_value report supplier 0.75 min_si_value max_si_value min_ri_value max_ri_value %}
          </td>
          <td class="q_4">
            {% get_qi_value report supplier 1 min_si_value max_si_value min_ri_value max_ri_value %}
          </td>
        </tr>
        {% endfor %}

        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>S*</td>
          <td>{{ min_si_value }}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>S-</td>
          <td>{{ max_si_value }}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>R*</td>
          <td>{{ min_ri_value }}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>R-</td>
          <td>{{ max_ri_value }}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>

    <legend>Sıralama sonuçları ve koşulların denetlenmesi</legend>
    <table class="table rank-table">
      {% for supplier in report.suppliers %}
      <tr class="rank--rows" data-id="{{ supplier.id }}" data-name="{{ supplier.name }}">
        <td>{{ supplier.name }}</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      {% endfor %}

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Q(A2)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Q(A1)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Q(A2) - Q(A1)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>DQ</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Koşul 1</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Koşul 2</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>

  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="data" />
    <div style="float: right;margin-bottom: 30px;">
      <input type="submit" value="Kaydet ve Diğer Adıma Geç" class="btn btn-lg btn-inverse" />
    </div>
  </form>
{% endblock content %}

{% block footer %}
 <script type="text/javascript">
  $(function() {
    // rank calculation.
    for (var i = 0; i < $('.rank--rows').length; i++) {
      for (var j = 0; j < 5; j++) {
        var q_values = _.map($('.q_' + j), function(item){
          return parseFloat($(item).text());
        });

        var current_value = q_values[i];
        var index = 0;
        var arr = _.sortBy(q_values);
        var prev = -1;
        var same = -1;

        for (var q = 0; q < arr.length; q++) {
          index += 1;
          if (arr[q] !== prev) {
            prev = arr[q];
            same = index;
          }
          if (arr[q] === current_value) {
            index = same;
            break;
          }
        }

        $($($('.rank--rows')[i]).find('td')[j + 1]).text(index);
      }
    }

    var json_data = [];
    for (var i = 0; i < $('.rank--rows').length; i++) {
      var id = $($('.rank--rows')[i]).data('id');
      var name = $($('.rank--rows')[i]).data('name');
      var q1 = $($($('.rank--rows')[i]).find('td')[1]).text();
      var q2 = $($($('.rank--rows')[i]).find('td')[2]).text();
      var q3 = $($($('.rank--rows')[i]).find('td')[3]).text();
      var q4 = $($($('.rank--rows')[i]).find('td')[4]).text();
      var q5 = $($($('.rank--rows')[i]).find('td')[5]).text();
      json_data.push({
        id: parseInt(id),
        name: name,
        q1: parseInt(q1),
        q2: parseInt(q2),
        q3: parseInt(q3),
        q4: parseInt(q4),
        q5: parseInt(q5)
      });
    }
    $('input[name=data]').val(JSON.stringify(json_data));

  });
 </script> 
{% endblock footer %}