{% extends "base_site.html" %}

{% block title %} - Vikor Adım 2{% endblock title %}

{% block content %}
  <div class="container">
    {% include "partial/vikor_progress_bar.html" with step=2 %}
  </div>
{% endblock content %}

{% block footer %}
  {% include "partial/importance_scale.html" %}
  <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
  {% include "partial/vikor_result.html" with report=report %}
{% endblock footer %}

{% block head %}
  <link href="https://code.highcharts.com/css/highcharts.css" rel="stylesheet">  
{% endblock head %}