{% extends "base_site.html" %}

{% block title %} - Kriterler{% endblock title %}


{% block content %}
      <div class="row">
        <div class="col-md-6" style="float: left;">
          <a href="{% url 'criterion-hierarchy' %}" class="btn btn-lg btn-inverse"
              style="margin-left: 18px;">
            AHP Hiyerarşisi
          </a>
        </div>
        <div class="col-md-6">
           <button type="button" class="btn btn-primary btn-lg" id="create"
                style="margin-right: 12px; float: right">
             + Yeni Kriter Ekle
           </button> 
        </div>
      </div>

    <div class="col-xs-12" style="margin-top: 20px">
        <table class="table">
          <thead>
            <th>Kriter Adı</th>
            <th>Ana Kriter</th>
            <th>İşlem</th>
          </thead>
          <tbody>
            {% for criterion in object_list %}
              <tr>
                <td>{{ criterion.name }}</td>
                <td>
                  {% if criterion.parent_id %}
                    {{ criterion.parent.name }}
                  {% else %}
                    -
                  {% endif %}
                </td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      İşlem <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#" 
                            class="updateItem"
                            data-id="{{ criterion.id }}"
                            data-name="{{ criterion.name }}"
                            data-parent="{{ criterion.parent_id|default_if_none:"0" }}">
                          Güncelle
                        </a>
                      </li>
                      <li><a href="{% url 'criterion-delete' criterion.id %}">Sil</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="text-center">
          {% include "partial/paginate.html" %}
        </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalLabel">Yeni Kriter Ekle</h4>
        </div>
        <div class="modal-body">
          <form>
            {% csrf_token %}
            <input type="hidden" name="objectId" value="" />
            <div class="form-group">
              <label for="exampleInputEmail1">Kriter Adı</label>
              <input type="name" class="form-control" name="name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Ana Kriter</label>
              <select class="form-control select select-primary" data-toggle="select" id="criterionSelect">
                <option value="0">Bu bir ana kriter</option>
                {% for option in main_criterions %}
                  <option value="{{ option.id }}">{{ option.name }}</option>
                {% endfor %}
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
          <button type="button" class="btn btn-primary" id="modalButton">Kaydet</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}


{% block footer %}
 <script type="text/javascript">
  $(function() {
    $('#create').click(function() {
      $('#modalLabel').text('Yeni Kriter Ekle');
      $('input[name=name]').val('');
      $('#criterionSelect').val('0');
      $('#modal').modal('show');
    });

    $('.updateItem').click(function() {
      $('#modalLabel').text('Kriter Güncelle');
      $('input[name=name]').val($(this).data('name'));
      $('input[name=objectId]').val($(this).data('id'));
      $('#criterionSelect').val($(this).data('parent'));

      $('#modal').modal('show');
    });

    $('#modalButton').click(function() {
      const csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val();

      if (_.isEmpty($('input[name=name]').val())) {
        toastr.error("Kriter Adı Zorunludur", "Form Hatası")
        return;
      }

      updateUrl = "{% url 'criterion-update' 0 %}";
      url = "{% url 'criterion-create' %}";

      if (!_.isEmpty($('input[name=objectId]').val())) {
        url = updateUrl.replace(0, $('input[name=objectId]').val());
      }

      data = {
        csrfmiddlewaretoken: csrfmiddlewaretoken,
        name: $('input[name=name]').val(),
      }

      if ($('#criterionSelect').val() !== '0') {
        data['parent'] = $('#criterionSelect').val();
      }

      $.ajax({
        url : url,
        type: "POST",
        data : data,
        dataType : "json",
        success: function( data ){
          window.location.reload();
        },
        error: function(data) {
          for (var key in data.responseJSON) {
            toastr.error(key + ":" + data.responseJSON[key][0], "Form Hatası");
          }
        }
      });
    });
  });
 </script> 
{% endblock footer %}