{% extends "base_site.html" %}

{% load calculation %}

{% block title %} - Adım 2{% endblock title %}


{% block content %}
 <div class="container">
   {% include "partial/progress_bar.html" with step=2 %}
 </div>
 

 <div class="container">
   <div style="margin-left: 20px; margin-top: 30px;">
     
     <form method="post">
        {% csrf_token %}
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
           {% for criterion in criterions %}
             <li role="presentation" {% if forloop.first %}class="active"{% endif %}>
               <a href="#tab_{{ criterion.id }}"
                   id="label_{{ criterion.id }}"
                   aria-controls="tab_{{ criterion.id }}"
                   role="tab" data-toggle="tab" style="color: #2f4154">
                 {{ criterion.name }} <span class="badge">{{ criterion.criterion_set.count }}</span>
               </a>
             </li>
           {% endfor %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          {% for criterion in criterions %}
            <div role="tabpanel"
                aria-labelledby="label_{{ criterion.id }}"
                class="tab-pane {% if forloop.first %}active{% endif %}"
                id="tab_{{ criterion.id }}">
              <table class="table" style="margin-top: 20px;">
                <thead>
                  <tr style="background-color: #efefef;">
                    <th style="font-size: 11px">Tedarikçi</th>
                    {% for child in criterion.criterion_set.all %}
                      <th  style="font-size: 11px">{{ child.name }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for supplier in suppliers %}
                    <tr>
                      <td  style="font-size: 11px">{{ supplier.name }}</td>
                      {% for child in criterion.criterion_set.all %}
                        <td style="font-size: 11px">
                           <input
                            type="number"
                            min="1"
                            max="9"
                            name="score_{{ child.id }}_{{ supplier.id }}"
                            value="{% get_supplier_criterion_score scores supplier.id child.id %}"
                            required="required"
                            class="form-control"
                          />
                        </td>
                      {% endfor %}
                      </tr>
                  {% endfor %}
                </tbody>

                <tfoot>
                  <tr style="background-color: #efefef;">
                    <td>Toplam</td>
                    {% for child in criterion.criterion_set.all %}
                    <td>0</td>
                    {% endfor %}
                  </tr style="background-color: #efefef;">
                  <tr style="background-color: #efefef;">
                    <td>Ortalama</td>
                    {% for child in criterion.criterion_set.all %}
                    <td>0</td>
                    {% endfor %}
                  </tr>
                </tfoot>
              </table>
            </div>
          {% endfor %}
        </div>

        <div style="float: right;margin-bottom: 30px;">
          <input type="submit" value="Kaydet ve Diğer Adıma Geç" class="btn btn-lg btn-inverse" />
        </div>
     </form>

   </div>
 </div>

{% endblock content %}

{% block footer %}
 <script type="text/javascript">
   $(function() {
    calculate();

    $('input[type=number]').on('change', function(event){
      var value = parseInt($(this).val());
      if (value && value < 10 && value > 0) {
        calculate();
      } else {
        $(this).val(0);
        calculate();
      }
    });
   });

   function calculate() {
      _.forEach($('table.table'), function(table) {
        var total = {};
        var supplierCount = {{ suppliers.count }};
        _.forEach($(table).find('tbody > tr'), function(row) {
          _.forEach($(row).find('td'), function(column, index) {
            if ($(column).find('input').length > 0) {
              if (total[index]) {
                total[index] += parseInt($(column).find('input').val()) || 0;
              } else {
                total[index] = parseInt($(column).find('input').val()) || 0;
              }
            }
          });
        });

        // Total
        _.forEach($(table).find('tfoot > tr:eq(0) > td'), function(column, index) {
          if (index !== 0) {
            $(column).text(total[index] || 0);
          }
        });
        // Average
        _.forEach($(table).find('tfoot > tr:eq(1) > td'), function(column, index) {
          if (index !== 0) {
            $(column).text(Math.round((total[index] || 0) / supplierCount));
          }
        });
      });
   }
 </script> 
{% endblock footer %}