{% extends "base_site.html" %}

{% block title %} - Adım 3{% endblock title %}


{% block content %}
 <div class="container">
  {% include "partial/progress_bar.html" with step=3 %}
</div> 

 <div class="container">
  <div id="container" style="min-width: 300px; height: 400px; margin: 0 auto; margin-top: 30px"></div>
 </div>
{% endblock content %}

{% block footer %}
  <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript">
    $(function() {
      Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Tüm Kriterlere Ait Global Ağırlıklar'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        plotOptions: {
            column: {
                color: '#2f4154'
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Global Ağırlıklar'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '{point.y:.1f}'
        },
        series: [{
            name: 'Population',
            data: [
                {% for criterion in criterions %}
                  ['{{ criterion.name }}', 3.7 * {{ criterion.id }}],
                {% endfor %}
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
      });
    });
  </script>
{% endblock footer %}

{% block head %}
  <link href="http://code.highcharts.com/css/highcharts.css" rel="stylesheet">  
{% endblock head %}