{% extends "base_site.html" %}

{% block title %} - Adım 3{% endblock title %}


{% block content %}
 <div class="container">
  {% include "partial/progress_bar.html" with step=3 %}
</div> 

 <div class="container">
  <div style="margin-left: 20px; margin-top: 30px;">

    {% if parent %}
      <legend>{{ parent.name }} Kriterinin Alt Kriterlerinin Kendi Aralarında Kıyası</legend>
    {% else %}
      <legend>Ana Kriterlerin Kendi Aralarında Kıyası</legend>
    {% endif %}

     <form method="post">
        {% csrf_token %}
        <table class="table" style="margin-top: 20px;" id="table1">
          <thead>
            <tr style="background-color: #efefef;">
              <th>Kriterler</th>
              {% for criterion in criterions %}
                <th>{{ criterion.name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for criterion in criterions %}
              <tr>
                <td>{{ criterion.name }}</td>
                {% for child in criterions %}
                  <td>
                    <input
                      type="text"
                      required="required"
                      class="form-control"
                      {% if forloop.counter == forloop.parentloop.counter or forloop.counter < forloop.parentloop.counter %}
                        disabled style="color: #2f4154;"
                      {% endif %}
                      value="{% if forloop.counter == forloop.parentloop.counter %}1.0{% else %}0{% endif %}"
                    />
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
            <tfoot>
              <tr style="background-color: #efefef;">
                <td>Sütun Toplamları</td>
                {% for child in criterions %}
                <td>0</td>
                {% endfor %}
              </tr>
            </tfoot>
        </table>


        <div id="hidden--table" style="display: none; margin-top: 30px;">
          <legend>Normalize Edilmiş Kriterlerin Kendi Aralarında Kıyası</legend>

          <table class="table" style="margin-top: 10px;" id="table2">
            <thead>
              <tr style="background-color: #efefef;">
                <th>Kriterler</th>
                {% for criterion in criterions %}
                  <th>{{ criterion.name }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for criterion in criterions %}
                <tr>
                  <td>{{ criterion.name }}</td>
                  {% for child in criterions %}
                    <td>
                      0
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <legend>Kriterlerin Kendi Arasinda Kıyasının Tutarlılık Kontrolü</legend>

          <div class="container" style="padding-left: 0px; padding-right: 31px;">
            <div class="col-md-6"  style="padding-left: 0px;">
              <table class="table" id="table3">
                <thead>
                  <tr style="background-color: #efefef;">
                    <th>W</th>
                    <th>D</th>
                    <th>E</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <table class="table" id="table4">
                <tbody>
                  <tr>
                    <td style="background-color: #efefef; width: 15%">&lambda;</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td style="background-color: #efefef; width: 15%">CL</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td style="background-color: #efefef; width: 15%">RI</td>
                    <td>{{ random_indicator|safe }}</td>
                  </tr>
                  <tr>
                    <td style="background-color: #efefef; width: 15%">CR</td>
                    <td>0</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <input type="hidden" name="data" value="" />

          <div class="alert alert-success" id="alertText"></div>
        </div>

        <div style="float: right;margin-bottom: 30px;">
          <button class="btn btn-lg btn-inverse" id="showTable">Normalize Tablosunu Göster</button>
          <input type="submit" value="Kaydet ve Diğer Adıma Geç" class="btn btn-lg btn-inverse" id="btn-save" style="display:none;" />
        </div>
     </form>
  </div>
 </div>
{% endblock content %}

{% block footer %}
 <script type="text/javascript">
    $(function() {
      $('input[type=text]').on('change', function(event){
        var value = $(this).val();
        var parsedValue = value.split('/');
        var rowIndex = $(this).parent().parent().index() + 1;
        var cellIndex = $(this).parent().index();
        var input = $('#table1 tr:eq(' + cellIndex  +  ') > td:eq(' + rowIndex + ')').find('input');

        if (parsedValue.length === 2 && parseInt(parsedValue[0]) && parseInt(parsedValue[1])) {
          $(this).val(parseFloat(parseInt(parsedValue[0]) / parseInt(parsedValue[1])).toFixed(2));
          $(input).val( parseFloat(parseInt(parsedValue[1]) / parseInt(parsedValue[0])).toFixed(2) );
          calculateTotal();
        } else {
         $(this).val('0');
         $(input).val('0');
        }
      });

      $('#showTable').click(function(event) {
        event.preventDefault();
        $('#hidden--table').show();
        $('#showTable').hide();
        $('#btn-save').show();

        // calculate the other table.
        calculateNormalizedTable();

        // calculate W value.
        calculateWValue();

        // calculate D value.
        calculateDValue();

        // calculate E value.
        calculateEValue();
        

        // calculate LAMBDA value.
        var lambda_value = calculateLambdaValue();

        // calculate CL value.
        var cl_value = calculateClValue(lambda_value);

        // Calculate CR value.
        calculateCrValue(cl_value);

        // check ratio
        checkCalculation();
      });
    });


    function calculateCrValue(cl_value) {
      var cr_value = cl_value / {{ random_indicator|safe }};
      $('#table4 > tbody > tr:eq(3) > td:eq(1)').text(parseFloat(cr_value).toFixed(6));
    }


    function calculateClValue(lambda_value) {
      cl_value = (lambda_value - $('#table3 tbody > tr').length) / ($('#table3 tbody > tr').length - 1);
      $('#table4 > tbody > tr:eq(1) > td:eq(1)').text(parseFloat(cl_value).toFixed(6));
      return cl_value;
    }


    function calculateLambdaValue() {
      var lambda_value = 0;
      for (var i = 0; i < $('#table3 tbody > tr').length; i++) {
        var e_value = parseFloat($('#table3 > tbody > tr:eq(' + i + ') > td:eq(2)').text());
        lambda_value += e_value
      }
      lambda_value = parseFloat(lambda_value / $('#table3 tbody > tr').length).toFixed(6);
      $('#table4 > tbody > tr:eq(0) > td:eq(1)').text(lambda_value);
      return lambda_value;
    }


    function calculateEValue() {
      for (var i = 0; i < $('#table3 tbody > tr').length; i++) {
        var w_value = parseFloat($('#table3 > tbody > tr:eq(' + i + ') > td:eq(0)').text());
        var d_value = parseFloat($('#table3 > tbody > tr:eq(' + i + ') > td:eq(1)').text());
        var e_value = parseFloat(d_value / w_value).toFixed(6);
        if (e_value !== 'NaN') {
          $('#table3 > tbody > tr:eq(' + i + ') > td:eq(2)').text(e_value);
        }
      }
    }


    function calculateDValue() {
      for (var i = 0; i < $('#table1 tbody > tr').length; i++) {
        var total_d = 0;
        for (var j = 1; j < $($('#table1 tbody > tr')[i]).find('td').length; j++) {
          var input_value = parseFloat($($($($('#table1 tbody > tr')[i]).find('td')[j]).find('input')).val());
          var w_value = parseFloat($('#table3 > tbody > tr:eq(' + (j - 1) + ') > td:eq(0)').text());
          total_d += input_value * w_value;
        }
        $('#table3 > tbody > tr:eq(' + i + ') > td:eq(1)').text(parseFloat(total_d).toFixed(6));
      }
    }


    function calculateWValue() {
      for (var i = 0; i < $('#table2 tbody > tr').length; i++) {
        var total_w = 0;
        for (var j = 1; j < $($('#table2 tbody > tr')[i]).find('td').length; j++) {
          var value = parseFloat($($($('#table2 tbody > tr')[i]).find('td')[j]).text());
          total_w += value;
        }

        total_w = parseFloat(total_w / $('#table2 tbody > tr').length).toFixed(2);
        html = "<tr><td>" + total_w + "</td><td>" + 0 + "</td><td>" + 0 + "</td></tr>";
        $('#table3 > tbody:last-child').append(html);
      }
    }

    function calculateNormalizedTable() {
      _.forEach($('#table1 tbody > tr > td'), function(column){
        if ($(column).find('input').length > 0) {
          var value = parseFloat($(column).find('input').val()) || 0;
          var cellIndex = $(column).index();
          var rowIndex = $(column).parent().index();
          var total = parseFloat($('#table1 tfoot  > tr:eq(0) > td:eq(' + cellIndex + ') ').text()) || 0;
          var calculateTotal = parseFloat(value / parseFloat(total)).toFixed(2);
          if (calculateTotal === 'Infinity' || calculateTotal === 'NaN') {
            calculateTotal = 0;
          }
          $('#table2 tbody > tr:eq(' + rowIndex + ') > td:eq(' +  cellIndex + ')').text(calculateTotal);
        }
      });
    }

    function getMatrisFromTable(table) {
      var tableData = [
        _.map($(table + ' > thead tr:eq(0) > th'), function(item){ return $(item).text() })
      ];
      for (var i=0; i < $(table + ' > tbody > tr').length; i++) {
        var row = [];
        for (var j = 1; j < $($(table + ' > tbody > tr')[i]).find('td').length; j++) {
          var input = $($($(table + ' tbody > tr')[i]).find('td')[j]);
          if (input.find('input').length > 0) {
            var value = parseFloat($(input.find('input')).val());
            row.push(value);
          } else {
            var value = parseFloat(input.text());
            row.push(value);
          }
        }
        tableData.push(row);
      }
      return tableData;
    }


    function checkCalculation() {
      var cr_value = $('#table4 > tbody > tr:eq(3) > td:eq(1)').text();
      if (cr_value < 0.1 && cr_value > 0) {
        $('#alertText').text('Değerler TUTARLI. Bir sonraki adıma geçebilirsiniz.');
        $('#alertText').removeClass('alert-danger');
        $('#alertText').addClass('alert-success');

        var json_data = {
          main_table: getMatrisFromTable('#table1'),
          normalized_table: getMatrisFromTable('#table2'),
          w: [],
          d: [],
          e: [],
          lambda: $('#table4 > tbody > tr:eq(0) > td:eq(1)').text(),
          cl: $('#table4 > tbody > tr:eq(1) > td:eq(1)').text(),
          ri: {{ random_indicator|safe }},
          cr: $('#table4 > tbody > tr:eq(3) > td:eq(1)').text()
        };

        for (var i = 0; i < $('#table3 tbody > tr').length; i++) {
          json_data.w.push(parseFloat($($($('#table3 tbody > tr')[i]).find('td')[0]).text()));
          json_data.d.push(parseFloat($($($('#table3 tbody > tr')[i]).find('td')[1]).text()));
          json_data.e.push(parseFloat($($($('#table3 tbody > tr')[i]).find('td')[2]).text()));
        }

        $('input[name=data]').val(JSON.stringify(json_data));
      } else {
        $('#alertText').text('Değerler TUTARSIZ. Değerleri Yeniden Giriniz.');
        $('#alertText').removeClass('alert-success');
        $('#alertText').addClass('alert-danger');
        $('#btn-save').prop('disabled', true);
      }
    }


    function calculateTotal() {
      var total = {};
      _.forEach($('#table1 tbody > tr > td'), function(column){
        if ($(column).find('input').length > 0) {
          var index = $(column).index();
          if (total[index]) {
            total[index] += parseFloat($(column).find('input').val()) || parseFloat(0.0);
          } else {
            total[index] = parseFloat($(column).find('input').val()) || parseFloat(0.0);
          }
        }
      });

      _.forEach($('#table1 tfoot > tr:eq(0) > td'), function(column, index) {
        if (index !== 0) {
          $(column).text(parseFloat(total[index]).toFixed(2) || parseFloat(0.0));
        }
      });
    }
 </script> 
{% endblock footer %}