{% extends "base.html" %}

{% block body %}
 <div class="container page--container">
    <div class="col-xs-12">
      <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">CHEERS</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">

          <ul class="nav navbar-nav navbar-left">
            <li><a href="{% url 'home' %}">Anasayfa</a></li>
            <li><a href="{% url 'suppliers' %}">Tedarikciler</a></li>
            <li><a href="{% url 'criterions' %}">Kriterler</a></li>
            <li><a href="{% url 'create-ahp' %}">Hesaplamalar</a></li>
            <li><a href="{% url 'reports' %}">Raporlar</a></li>
            <li><a href="{% url 'topics' %}">Yardım</a></li>
           </ul>
           
           <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">@{{ user.username }} <b class="caret"></b></a>
              <span class="dropdown-arrow"></span>
              <ul class="dropdown-menu">
                <li><a href="{% url 'profile-update' %}">Bilgilerimi Güncelle</a></li>
                <li><a href="{% url 'password_change' %}">Şifre Değiştirme</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}">Çıkış</a></li>
              </ul>
            </li>
           </ul>
        </div>
      </nav>
    </div>

    {% block content %}
      
    {% endblock content %}
 </div> 
{% endblock body %}