{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cheers {% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{% static "css/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{% static "css/flat-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="{% static "js/vendor/html5shiv.js" %}"></script>
      <script src="{% static "js/vendor/respond.min.js" %}"></script>
    <![endif]-->
  </head>

    {% block head %} {% endblock head %}
  <body {% block bodyclass %}{% endblock bodyclass %}>
    
    {% block body %} {% endblock body %}

    <script src="{% static "js/vendor/jquery.min.js" %}"></script>
    <script src="{% static "js/vendor/video.js" %}"></script>
    <script src="{% static "js/flat-ui.min.js" %}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    {% block footer %} {% endblock footer %}

  </body>
</html>
