{% extends "base.html" %}

{% block body %}
 <div class="container page--container">
    <div class="col-xs-12">
      <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#">CHEERS</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">

          <ul class="nav navbar-nav navbar-left">
            <li><a href="#">Anasayfa</a></li>
            <li><a href="#">Tedarikciler</a></li>
            <li><a href="#">Kriterler</a></li>
            <li><a href="#">Raporlar</a></li>
           </ul>
           
           <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">@{{ user.username }} <b class="caret"></b></a>
              <span class="dropdown-arrow"></span>
              <ul class="dropdown-menu">
                <li><a href="#">Profilimi Güncelle</a></li>
                <li class="divider"></li>
                <li><a href="#">Çıkış</a></li>
              </ul>
            </li>
           </ul>
        </div>
      </nav>
    </div>

    {% block blockname %}
      
    {% endblock blockname %}
 </div> 
{% endblock body %}