{% extends "base_site.html" %}

{% block title %} - Tedarikciler{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-3" style="float: right;">
       <!-- Button trigger modal -->
       <button type="button" class="btn btn-primary btn-lg" id="create"
            style="margin-right: 12px; float: right">
         + Yeni Tedarikçi Ekle
       </button> 
    </div>
  </div>

    <div class="col-xs-12">
        <table class="table">
          <thead>
            <th>Tedarikçi Adı</th>
            <th>İşlem</th>
          </thead>
          <tbody>
          {% for supplier in object_list %}
            <tr>
              <td>{{ supplier.name }}</td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    İşlem <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#updateSupplier">Tedarikçi Bilgilerini Güncelle</a></li>
                    <li><a href="#" class="updateItem" data-id="{{ supplier.id }}" data-name="{{ supplier.name }}">
                      Kriter Güncelleme
                    </a></li>
                    <li><a href="{% url 'supplier-delete' supplier.id %}">Sil</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <div class="text-center">
          {% include "paginate.html" %}
        </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        {% csrf_token %}
        <input type="hidden" name="objectId" value="" />
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalLabel">Yeni Tedarikçi Ekle</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Tedarikci Adı</label>
              <input type="name" class="form-control" id="name" placeholder="">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
          <button type="button" class="btn btn-primary" id="modalButton">Kaydet</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block footer %}
 <script type="text/javascript">
  $(function() {
    $('#create').click(function() {
      $('#modalLabel').text('Yeni Tedarikçi Ekle');
      $('#name').val('');
      $('#modal').modal('show');
    });

    $('.updateItem').click(function() {
      $('#modalLabel').text('Tedarikçi Güncelle');
      $('#name').val($(this).data('name'));
      $('input[name=objectId]').val($(this).data('id'));
      $('#modal').modal('show');
    });

    $('#modalButton').click(function() {
      const csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val();

      if (_.isEmpty($('#name').val())) {
        toastr.error("Tedarikçi Adı Zorunludur", "Form Hatası")
        return;
      }

      updateUrl = "{% url 'supplier-update' 0 %}";
      url = "{% url 'supplier-create' %}";

      if (!_.isEmpty($('input[name=objectId]').val())) {
        url = updateUrl.replace(0, $('input[name=objectId]').val());
      }

      $.ajax({
        url : url,
        type: "POST",
        data : {
          csrfmiddlewaretoken: csrfmiddlewaretoken,
          name: $('#name').val()
        },
        dataType : "json",
        success: function( data ){
          window.location.reload();
        },
        error: function(data) {
          for (var key in data.responseJSON) {
            toastr.error(key + ":" + data.responseJSON[key][0], "Form Hatası");
          }
        }
      });
    });
  });
 </script> 
{% endblock footer %}