{% extends "base.html" %}
{% load static %}

{% block title %} - Login{% endblock title %}

{% block bodyclass %}style="background-color: #2c3e50"{% endblock bodyclass %}

{% block footer %}
  <script type="text/javascript">
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      toastr.error("{{ error }}");
    {% endfor %}
    {% endif %}
  </script> 
{% endblock footer %}

{% block body %}
  <div class="container backoffice--container">
      <div class="col-xs-12">
        <form method="post">
          {% csrf_token %}
          <div class="login-screen" style="background-color: #2c3e50">
            <div class="login-icon">
              <img src="{% static "img/icons/svg/map.svg" %}">
            </div>
            <div class="login-form">
              <div class="form-group">
                <input type="text"
                  class="form-control login-field"
                  name="email"
                  value="{{ form.email.value|default_if_none:"" }}"
                  placeholder="E-posta" id="login-name">
                <label class="login-field-icon fui-user" for="login-name"></label>
                {{ form.email.errors }}
              </div>
              <input type="submit" value="Tamam" class="btn btn-inverse btn-lg btn-block" />
            </div>
          </div>
        </form>
    </div> 
  </div>
{% endblock body %}