.page--container {
  margin-top: 20px;
}

.pagination {
  background: #2f4154 !important;
}

.login-link:hover {
  color: red;
}

input[type=text]:focus,input[type=password]:focus  {
  border-color: #2c3e50 !important;
}

.login-form .login-field:focus + .login-field-icon {
  color: #2c3e50;
}

.panel-inverse {
  border-color: #2c3e50  !important;
}

.panel-header-inverse {
  background-color: #2c3e50 !important;
  color: #fff  !important;
  border-color: #2c3e50  !important;
}

.panel-inverse a {
  color: #2c3e50 !important;
}

.navbar-header {
  margin-right: 15px;
}

.dropdown-menu, .select2-drop {
  background: #2f4154 !important;
}

.dropdown-menu > li > a {
  color: #FFF !important;
}


.notFound {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}


.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}


.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/


.big--table > thead > tr > th {
  font-size: 11px;
}

.big--table > tbody > tr > td {
  font-size: 11px;
}

.help-button {
  width: 50px;
  height: 50px;
  background-color: #efefef;
  border: 1px solid #ddd;
  position: absolute;
  top: 40%;
  left: 0px;
  cursor: pointer;
}

.help-button i {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 28px;
}

li.help-text a {
  color: #2f4154;
}

.service-box {
  position: relative;
  padding: 35px 55px 35px 100px;
  background: #FFF;
  transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
}

.service-box.shadow {
  box-shadow: 0 0 4px rgba(221, 221, 221, 0.75);
  -moz-box-shadow: 0 0 4px rgba(221, 221, 221, 0.75);
  -ms-box-shadow: 0 0 4px rgba(221, 221, 221, 0.75);
  -webkit-box-shadow: 0 0 4px rgba(221, 221, 221, 0.75);
  -o-box-shadow: 0 0 4px rgba(221, 221, 221, 0.75);
}

.service-box:hover {
    box-shadow: 0 0 10px rgba(221, 221, 221, 0.75);
    -moz-box-shadow: 0 0 10px rgba(221, 221, 221, 0.75);
    -ms-box-shadow: 0 0 10px rgba(221, 221, 221, 0.75);
    -webkit-box-shadow: 0 0 10px rgba(221, 221, 221, 0.75);
    -o-box-shadow: 0 0 10px rgba(221, 221, 221, 0.75);
}

.service-box .icon {
  position: absolute;
  left: 40px;
  top: 35px;
}

.service-box .read-more {
  padding-right: 22px;
  margin-top: 10px;
}

.service-title {
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0 15px;
}
.service-title a {
  color: #313131;
  font-weight: bold;
  cursor: pointer;
}
.service-title a:hover {
  color: #16a085;
}
.service-center {
  text-align: center;
  padding: 30px 25px;
  margin-bottom: 20px;
}
.service-center .icon {
  position: static;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 25px;
  height: 40px;
}
.service-center .service-title {
  font-size: 16px;
  text-transform: uppercase;
}
.service-box.has-bg {
  background: #fafafa;
  padding: 35px 40px 30px;
  margin-bottom: 30px;
}
.service-box.rounded-center {
  padding: 35px 20px 30px;
  text-align: center;
}
.service-box.has-bg .icon,
.service-box.rounded-center .icon {
  position: relative;
  top: auto;
  left: auto;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
  height: 50px;
  width: 50px;
  border: 2px solid #218ACB;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}
.service-box.has-bg .icon img,
.service-box.rounded-center .icon img {
  max-width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: auto;
}
.service-box.has-bg .service-title {
  margin-bottom: 10px;
}
.service-box.rounded-center .service-title {
  font-size: 16px;
  line-height: 26px;
}
.shadow {
  box-shadow: 0 2px 4px rgba(221, 221, 221, 0.75);
  -moz-box-shadow: 0 2px 4px rgba(221, 221, 221, 0.75);
  -ms-box-shadow: 0 2px 4px rgba(221, 221, 221, 0.75);
  -webkit-box-shadow: 0 2px 4px rgba(221, 221, 221, 0.75);
  -o-box-shadow: 0 2px 4px rgba(221, 221, 221, 0.75);
}